*{
    margin: 0pt;
}
body{
    background-size: 100%;
    background-color: rgb(56, 0, 0);
    background-attachment: fixed;
}
    
.bg{
    height: 50px;
    max-width: 100%;
    background-color:rgb(117, 117, 117) ;
    
}
.hasan1{
    
    height:100%;
    width: 50px;
    background-image: url(favicon.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 50vw;
}
